body{
	margin: 0px;
	padding: 0px;
	font-family: Arial;
}
.content{
	display: flex;;
	justify-content: center;
	align-items: center;

}

.btn{
	text-decoration: none;
	padding: 5px;
	border: 1px solid #000 ; 
	margin: 5px;
}

.btn-dark{
	background: #000;
	color:#fff;

}
.btn-dark:hover{
	background: #383838;
}